
<div class="logmod" id="status">
<div class="logmod__wrapper">
  <span class="logmod__close">Close</span>
  <div class="logmod__container">
    <ul class="logmod__tabs">
      <li data-tabtar="lgm-2"><a href="#">Change Password</a></li>
    </ul>
    <div id='error' style='color: red;' align='center'></div>

    <div class="logmod__tab-wrapper">
    <div class="logmod__tab lgm-2">
      <div class="logmod__heading">
        
      </div> 
      <div class="logmod__form">
        <form accept-charset="utf-8" class="simform">
          <div class="sminputs">
            <div class="input full">
              <label class="string optional" for="user-name">Password*</label>
              <input class="string optional" maxlength="255" name="user-pwd" id="user-pwd" placeholder="Password" type="password" size="50" />
            </div>
          </div>
          <div class="sminputs">
            <div class="input full">
              <label class="string optional" for="user-pw">Retype password*</label>
              <input class="string optional" maxlength="255" name="user-pwd" id="user-re-pwd" placeholder="Repassword" type="password" size="50" />
            </div>
          </div>
          <div class="simform__actions">
            <button class="sumbit" id='change-password'name="commit" type="sumbit" value="Change">Change</button> 
          </div> 
        </form>
      </div> 
      
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#change-password').on('click', function (e) {
    e.preventDefault();
    var data = {
      password: $('#user-pwd').val(),
      rePassword: $('#user-re-pwd').val()
    }

    $.post( "/user/change_password", data, function(resData) {
      window.location = '/profile';
    })
    .fail(function(resData) {
        if (resData.responseJSON.code == 400) {
          $('#error').html(JSON.stringify(resData.responseJSON.data));
        } else {
          $('#error').html(resData.responseJSON.message);
        }
        
    });
  });
  
</script>

</div>
  
  
