

  <div class="logmod" id="status">
  <div class="logmod__wrapper">
    <span class="logmod__close">Close</span>
    <div class="logmod__container">
      <ul class="logmod__tabs">
        <li data-tabtar="lgm-2"><a href="#">Login</a></li>
        <li data-tabtar="lgm-1"><a href="#">Sign Up</a></li>
      </ul>
      <div id='error' style='color: red;' align='center'></div>

      <div class="logmod__tab-wrapper">
      <div class="logmod__tab lgm-1">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
        </div>
        <div class="logmod__form">
          <form accept-charset="utf-8" action="#" class="simform">
          <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Full name*</label>
                <input class="string optional" maxlength="255" id="r-fullname" placeholder="Fullname" type="text" size="50" />
              </div
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Email*</label>
                <input class="string optional" maxlength="255" id="r-email" placeholder="Email" type="email" size="50" />
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="user-pw">Password *</label>
                <input class="string optional" maxlength="255" id="r-password" placeholder="Password" type="password" size="50" />
              </div>
              <div class="input string optional">
                <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                <input class="string optional" maxlength="255" id="r-repassword" placeholder="Repeat password" type="password" size="50" />
              </div>
            </div>
            <div class="simform__actions">
              <input class="sumbit" name="commit" id="register-btn" type="sumbit" value="Create Account" />
              <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
            </div> 
          </form>
        </div> 
        <div class="logmod__alter">
          <div class="logmod__alter-container">
            <a href="#" class="connect facebook">
              <div class="connect__icon">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="connect__context">
                <span>Create an account with <strong>Facebook</strong></span>
              </div>
            </a>
              
            <a href="#" class="connect googleplus">
              <div class="connect__icon">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="connect__context">
                <span>Create an account with <strong>Google+</strong></span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="logmod__tab lgm-2">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span>
        </div> 
        <div class="logmod__form">
          <form accept-charset="utf-8" action="#" class="simform">
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Email*</label>
                <input class="string optional" id="l-email" maxlength="255" id="user-email" placeholder="Email" type="email" size="50" />
              </div>
            </div>
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-pw">Password *</label>
                <input class="string optional" id="l-password" maxlength="255" id="user-pw" placeholder="Password" type="password" size="50" />
                            <span class="hide-password">Show</span>
              </div>
            </div>
            <div class="simform__actions">
              <input class="sumbit" name="commit" id="login-btn" type="sumbit" value="Log In" />
              <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Forgot your password?<br>Click here</a></span>
            </div> 
          </form>
        </div> 
        <div class="logmod__alter">
          <div class="logmod__alter-container">
            <a href="#" class="connect facebook">
              <div class="connect__icon">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="connect__context">
                <span>Sign in with <strong>Facebook</strong></span>
              </div>
            </a>
            <a href="#" class="connect googleplus">
              <div class="connect__icon">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="connect__context">
                <span>Sign in with <strong>Google+</strong></span>
              </div>
            </a>
          </div>
        </div>
          </div>
      </div>
    </div>
  </div>

</div>


    <script type="text/javascript">
      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '587319561387281',
          cookie     : true,  // enable cookies to allow the server to access 
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.5' // use graph api version 2.5
        });
      };
    </script>


    <script type="text/javascript">
      $('.facebook').click(function() {
        FB.login(function(response) {
         if (response.status === 'connected') {
             sendFbToken(response.authResponse);
          } else if (response.status === 'not_authorized') {
            $('#error').html('You are logged into Facebook, but not our app');
          } else {
            $('#error').html('You must log into Facebook');
          }
       }, {scope: 'public_profile,email,user_likes'});
      });

      function sendFbToken(fbAccessToken) {
          var data = {
            fbAccessToken: fbAccessToken.accessToken,
            fbExpiresIn: fbAccessToken.expiresIn
          }

          $.post( "/user/login_or_register_via_facebook", data, function(resData) {
            window.location = '/profile';
          });
      }


      // Click on login btn
      $('#login-btn').click(function(e) {
        e.preventDefault();
        var data = {
          email: $('#l-email').val(),
          password: $('#l-password').val()
        };

        $.post( "/user/login", data, function(resData) {
          window.location = '/profile';
        })
        .fail(function(resData) {
            if (resData.responseJSON.code == 400) {
              $('#error').html(JSON.stringify(resData.responseJSON.data));
            } else {
              $('#error').html(resData.responseJSON.message);
            }
            
        });
      });


      // Click on register btn
      $('#register-btn').click(function(e) {
        e.preventDefault();
        var data = {
          fullName: $('#r-fullname').val(),
          email: $('#r-email').val(),
          password: $('#r-password').val(),
          rePassword: $('#r-repassword').val(),
        };

        $.post( "/user/register", data, function(resData) {
          window.location = '/profile';
        })
        .fail(function(resData) {
            if (resData.responseJSON.code == 400) {
              $('#error').html(JSON.stringify(resData.responseJSON.data));
            } else {
              $('#error').html(resData.responseJSON.message);
            }
            
        });
      });
    </script>
  
